@media only screen and (max-width: 1024px) {
	.container {
	    grid-template-columns: 1fr 700px 1fr;
	}
	.court,
	.players {
		min-height: 500px;
	}
}
@media only screen and (max-width: 768px) {
	.container {
	    grid-template-columns: 10px 1fr 10px;
	}
	.gallery {
		grid-template-columns: 1fr;
	}
	.gallery img {
		grid-column: span 1 !important;
		grid-row: span 1 !important;
	}
}
