body {
		margin: 0;
		color: #fff;
}

.container {
		height: 100vh;
		background-color: #f4f4f4;
}
.header {
		background-color: #004ef8;
}
.footer {
		background-color: #061731;
}
.content {
		background-color: #fff;
}
.header,
.footer {
		padding: 20px;
}

.inner {
		background-color: #f4f4f4;
}

.wrap {
		background-color: #fff;
}

.header {
		grid-area: header;
}
.footer {
		grid-area: footer;
}
.content {
		grid-area: content;
}

.container {
		display: grid;
		grid-template-areas: "header" "content" "footer";
		grid-template-rows: 90px 1fr 70px;
		grid-template-columns: 1fr;
}

.content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1024px 1fr;
		grid-gap: 0;
}
