body {
	font-family: Verdana;
	color: #535353;
	height: 100%;
	background-color: #f4f4f4;
}
.container {
	height: 100vh;
	background-color: #f4f4f4;
}

.main-menu ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-menu ul li {
}
.main-menu ul li a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}
.main-menu ul li a:hover {
	text-decoration: underline;
}

.header {
	background-color: #004ef8;
	//grid-column: span 3;
}
.footer {
	background-color: #061731;
	//grid-column: span 3;
}
.header,
.footer {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer span {
	color: #fff;
}
.content {
	background-color: #fff;
}
.inner {
	background-color: #f4f4f4;
}
.wrap {
	background-color: #fff;
}

.header {
	grid-area: header;
}
.footer {
	grid-area: footer;
}
.content {
	grid-area: content;
}

.container {
	display: grid;
	grid-template-areas: "header header header" "content content content" "footer footer footer";
	grid-template-rows: 90px 1fr 70px;
	grid-template-columns: 1fr 1000px 1fr;
}

.content {
	grid-row-start:    2;
	grid-row-end:      3;
	grid-column-start: 2;
	grid-column-end:   3;
}

.gallery {
	padding: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-flow: dense;
	align-items: stretch;
}
.gallery img {
	width: 100%;
	height: auto;
}
.gallery img:nth-child(1) {
	grid-column: span 2;
	grid-row: span 2;
}
.gallery img:nth-child(4) {
	grid-column: span 3;
	grid-row: span 3;
}
.gallery img:nth-child(7) {
	grid-column: span 2;
	grid-row: span 2;
}
.gallery img:nth-child(10) {
	grid-column: span 3;
	grid-row: span 3;
}
.gallery img:nth-child(13) {
	grid-column: span 2;
	grid-row: span 2;
}

.column-span-3 {
	grid-column: span 3;
}
.row-span-3 {
	grid-row: span 3;
}
.events li {
	display: grid;
	grid-template-columns: 135px 1fr;
	grid-template-rows: repeat(auto-fit, 20px 20px 20px);
	grid-gap: 10px 20px;
	padding: 20px;
}
.events .time {
	border-right: 2px solid #004ef8;
}
.court {
	width: 100%;
	height: 100%;
	min-height: 800px;
	position: relative;
	overflow: hidden;
}
.basketball-court {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	max-width: 100%;
}
.players {
	background-image: url("/images/basketball-court.jpg");
	background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
	height: 100%;
	min-height: 800px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	align-items: center;
    justify-items: center;
}
.player {
	border-radius: 50%;
	border: 5px solid orange;
	width: 50px;
	height: 50px;
	position: relative;
}
.circle {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	font-weight: 700;
}
.player-1 {
	grid-row-start: 4;
	grid-column-start: 4;
	grid-row-end: 5;
	grid-column-end: 5;

	grid-row: 4 / 5;
	grid-column: 4 / 5;

	grid-area: 4 / 4 / 5 / 5;
}
.player-2 {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}
.player-3 {
	grid-row: 3 / 4;
	grid-column: 6 / 7;
}
.player-4 {
	grid-area: 1 / 3 / 3 / 4;
}
.player-5 {
	grid-area: 1 / 5 / 3 / 6;
}

.red-grid {
	position: absolute;
	left: 0;
	top: 0;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
.red-grid div {
	border: 2px solid red;
    width: 100%;
    height: 100%;
}

.content {
	position: relative;
}