body {
	font-family: Verdana;
	font-size: 14px;
	color: #535353;
	height: 100%;
	background-color: #f4f4f4;
}
.container {
	height: 100vh;
	background-color: #f4f4f4;
}

.main-menu ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-menu ul li {
}
.main-menu ul li a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}
.main-menu ul li a:hover {
	text-decoration: underline;
}

.header {
	background-color: #004ef8;
}
.footer {
	background-color: #061731;
}
.header,
.footer {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer span {
	color: #fff;
}
.content {
	background-color: #fff;
}
.inner {
	background-color: #f4f4f4;
}
.wrap {
	background-color: #fff;
}

.header {
	grid-area: header;
}
.footer {
	grid-area: footer;
}
.content {
	grid-area: content;
}

.container {
	display: grid;
	grid-template-areas: "header header header" "content content content" "footer footer footer";
	grid-template-rows: 90px 1fr 70px;
	grid-template-columns: 1fr 1000px 1fr;
}

.content {
	grid-row-start:    2;
	grid-row-end:      3;
	grid-column-start: 2;
	grid-column-end:   3;
}

label {
	font-weight: 700;
}
.in-text {
	font-weight: 300;
    font-size: 14px;
    color: #414141;
    height: 46px;
    width: 100%;
    float: left;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    padding: 0 15px;
}
textarea.in-text {
	height: 100px;
	padding: 18px 15px;
}

.btn {
	padding: 0 25px;
	width: 150px;
    height: 40px;
    font-size: 14px;
    border-radius: 25px;	
    background-color: #004ef8;
    color: #fff;
    text-align: center;
    font-weight: 700;
    outline: 0;
    border: 0; 
}
.btn:hover {
	cursor: pointer;
	background-color: #003ec5;
}

.custom-checkbox,
.custom-radio {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 17px;
    font-weight: 300;
}
.custom-radio {
    margin-right: 30px;
}
.custom-checkbox input,
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
}
.custom-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
}
.custom-checkbox:hover input ~ .checkmark,
.custom-radio:hover input ~ .checkmark {
    background-color: #ccc;
}
.custom-checkbox input:checked ~ .checkmark,
.custom-radio input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-checkbox input:checked ~ .checkmark:after,
.custom-radio input:checked ~ .checkmark:after {
    display: block;
}
.custom-checkbox .checkmark:after {
	left: 6px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-radio .checkmark:after {
    top: 5px;
    left: 5px;
    width: 7px;
    height: 7px;
	border-radius: 50%;
	background: white;
}

.gallery {
	padding: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-flow: dense;
	align-items: stretch;
}
.gallery img {
	width: 100%;
	height: auto;
}
.gallery img:nth-child(1) {
	grid-column: span 2;
	grid-row: span 2;
}
.gallery img:nth-child(4) {
	grid-column: span 3;
	grid-row: span 3;
}
.gallery img:nth-child(7) {
	grid-column: span 2;
	grid-row: span 2;
}
.gallery img:nth-child(10) {
	grid-column: span 3;
	grid-row: span 3;
}
.gallery img:nth-child(13) {
	grid-column: span 2;
	grid-row: span 2;
}

form {
	padding: 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: [labels] 150px [controls] 1fr;
	align-items: center;
}
form > label {
	grid-column: labels;
}
form .selectric-wrapper,
form .in-text,
form .btn,
form > div {
	grid-column: controls;
}
form .btn {
	justify-self: end;
}


.layout header {
	grid-area: inner-header;
	background-color: red;
}
.layout footer {
	grid-area: inner-footer;
	background-color: green;
}
.layout nav {
	grid-area: nav;
	background-color: blue;
}
.timeline {
	grid-area: timeline;
	background-color: yellow;
}
.layout aside {
	grid-area: aside;
	background-color: pink;
}
.chat {
	grid-area: chat;
	background-color: black;
}
.layout {
	height: 100%;
	display: grid;
	grid-template-areas: "inner-header inner-header inner-header inner-header" "nav timeline aside chat" "inner-footer inner-footer inner-footer inner-footer";
	grid-template-rows: 30px 1fr 40px;
	grid-template-columns: 1fr 30% 15% 1fr;
}

.column-span-3 {
	grid-column: span 3;
}
.row-span-3 {
	grid-row: span 3;
}

.events li {
	display: grid;
	grid-template-columns: 135px 1fr;
	grid-template-rows: repeat(auto-fit, 20px 20px 20px);
	grid-gap: 10px 20px;
	padding: 20px;
}
.events .time {
	border-right: 2px solid #004ef8;
}
.court {
	width: 100%;
	height: 100%;
	min-height: 800px;
	position: relative;
	overflow: hidden;
}
.basketball-court {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	max-width: 100%;
}
.players {
	background-image: url("/images/basketball-court.jpg");
	background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
	height: 100%;
	min-height: 800px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	align-items: center;
    justify-items: center;
}
.player {
	border-radius: 50%;
	border: 5px solid orange;
	width: 50px;
	height: 50px;
	position: relative;
}
.circle {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	font-weight: 700;
}
.player-1 {
	grid-row-start: 4;
	grid-column-start: 4;
	grid-row-end: 5;
	grid-column-end: 5;

	grid-row: 4 / 5;
	grid-column: 4 / 5;

	grid-area: 4 / 4 / 5 / 5;
}
.player-2 {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}
.player-3 {
	grid-row: 3 / 4;
	grid-column: 6 / 7;
}
.player-4 {
	grid-area: 1 / 3 / 3 / 4;
}
.player-5 {
	grid-area: 1 / 5 / 3 / 6;
}

.outer-grid {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-auto-flow: column;
	border: 1px solid orange;
}
.outer-grid > div {
	border: 1px solid orange;
}
.inner-grid {
	display: grid; /* subgrid */
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: 1px solid red;
}
.inner-grid > div {
	border: 1px solid red;
}

.red-grid {
	position: absolute;
	left: 0;
	top: 0;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}
.red-grid div {
	border: 2px solid red;
    width: 100%;
    height: 100%;
}

.content {
	position: relative;
}